.one-country{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom:1rem;
}
.w-layout-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:10px
}

.purple-sep-small {
    display: inline-block;
    width: 20px;
    height: 4px;
    background-color: var(--violet-color);
}